:root {
  --accent-default: rgba(55, 81, 255, 1);
  --bold-12-0-3-px-CAPS-font-family: "Mulish-Bold", Helvetica;
  --bold-12-0-3-px-CAPS-font-size: 12px;
  --bold-12-0-3-px-CAPS-font-style: normal;
  --bold-12-0-3-px-CAPS-font-weight: 700;
  --bold-12-0-3-px-CAPS-letter-spacing: 0.30000001192092896px;
  --bold-12-0-3-px-CAPS-line-height: normal;
  --bold-12px-font-family: "Mulish-Bold", Helvetica;
  --bold-12px-font-size: 12px;
  --bold-12px-font-style: normal;
  --bold-12px-font-weight: 700;
  --bold-12px-letter-spacing: 0.30000001192092896px;
  --bold-12px-line-height: normal;
  --bold-19px-font-family: "Mulish-Bold", Helvetica;
  --bold-19px-font-size: 19px;
  --bold-19px-font-style: normal;
  --bold-19px-font-weight: 700;
  --bold-19px-letter-spacing: 0.4000000059604645px;
  --bold-19px-line-height: normal;
  --bold-24px-font-family: "Mulish-Bold", Helvetica;
  --bold-24px-font-size: 24px;
  --bold-24px-font-style: normal;
  --bold-24px-font-weight: 700;
  --bold-24px-letter-spacing: 0.30000001192092896px;
  --bold-24px-line-height: normal;
  --button-accent-default: 0px 4px 12px 0px rgba(55, 81, 255, 0.24);
  --grayscale-black: rgba(37, 39, 51, 1);
  --grayscale-divider: rgba(223, 224, 235, 1);
  --grayscale-extra-light: rgba(252, 253, 254, 1);
  --grayscale-gray: rgba(159, 162, 180, 1);
  --grayscale-gray-dark: rgba(75, 80, 109, 1);
  --grayscale-gray-lightest: rgba(240, 241, 247, 1);
  --grayscale-white: rgba(255, 255, 255, 1);
  --mainblue: rgba(55, 81, 255, 1);
  --titleblue: rgb(66, 84, 245);
  --reg-14-0-3-px-font-family: "Mulish-Regular", Helvetica;
  --reg-14-0-3-px-font-size: 14px;
  --reg-14-0-3-px-font-style: normal;
  --reg-14-0-3-px-font-weight: 400;
  --reg-14-0-3-px-letter-spacing: 0.30000001192092896px;
  --reg-14-0-3-px-line-height: 20px;
  --regular-14px-font-family: "Mulish-Regular", Helvetica;
  --regular-14px-font-size: 14px;
  --regular-14px-font-style: normal;
  --regular-14px-font-weight: 400;
  --regular-14px-letter-spacing: 0.30000001192092896px;
  --regular-14px-line-height: 20px;
  --semibold-14-0-2-px-font-family: "Mulish-SemiBold", Helvetica;
  --semibold-14-0-2-px-font-size: 14px;
  --semibold-14-0-2-px-font-style: normal;
  --semibold-14-0-2-px-font-weight: 600;
  --semibold-14-0-2-px-letter-spacing: 0.20000000298023224px;
  --semibold-14-0-2-px-line-height: 20px;
  --semibold-14px-font-family: "Mulish-SemiBold", Helvetica;
  --semibold-14px-font-size: 14px;
  --semibold-14px-font-style: normal;
  --semibold-14px-font-weight: 600;
  --semibold-14px-letter-spacing: 0.20000000298023224px;
  --semibold-14px-line-height: 20px;
  --sidebar-bg: rgba(54, 55, 64, 1);
  --sidebar-gray: rgba(164, 166, 179, 1);

  --bold-19px-font-family: "Mulish-Bold", Helvetica;
  --bold-19px-font-size: 19px;
  --bold-19px-font-style: normal;
  --bold-19px-font-weight: 700;
  --bold-19px-letter-spacing: 0.4000000059604645px;
  --bold-19px-line-height: normal;
  --bold-24px-font-family: "Mulish-Bold", Helvetica;
  --bold-24px-font-size: 24px;
  --bold-24px-font-style: normal;
  --bold-24px-font-weight: 700;
  --bold-24px-letter-spacing: 0.30000001192092896px;
  --bold-24px-line-height: normal;
  --bold-40px-font-family: "Mulish-Bold", Helvetica;
  --bold-40px-font-size: 40px;
  --bold-40px-font-style: normal;
  --bold-40px-font-weight: 700;
  --bold-40px-letter-spacing: 1px;
  --bold-40px-line-height: normal;
  --grayscale-black: rgba(37, 39, 51, 1);
  --grayscale-divider: rgba(223, 224, 235, 1);
  --grayscale-gray: rgba(159, 162, 180, 1);
  --grayscale-white: rgba(255, 255, 255, 1);
  --mainblue: rgba(55, 81, 255, 1);
  --mainlightblue: rgba(221, 226, 255, 1);
  --regular-12px-font-family: "Mulish-Regular", Helvetica;
  --regular-12px-font-size: 12px;
  --regular-12px-font-style: normal;
  --regular-12px-font-weight: 400;
  --regular-12px-letter-spacing: 0.10000000149011612px;
  --regular-12px-line-height: 16px;
  --regular-16px-font-family: "Mulish-Regular", Helvetica;
  --regular-16px-font-size: 16px;
  --regular-16px-font-style: normal;
  --regular-16px-font-weight: 400;
  --regular-16px-letter-spacing: 0.20000000298023224px;
  --regular-16px-line-height: normal;
  --semibold-16px-font-family: "Mulish-SemiBold", Helvetica;
  --semibold-16px-font-size: 16px;
  --semibold-16px-font-style: normal;
  --semibold-16px-font-weight: 600;
  --semibold-16px-letter-spacing: 0.30000001192092896px;
  --semibold-16px-line-height: 22px;
  --sidebar-bg: rgba(54, 55, 64, 1);
  --sidebar-gray: rgba(164, 166, 179, 1);
}

body.auth-page html.auth-page {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@import url("https://cdn.syncfusion.com/ej2/material.css");

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  background: transparent
    url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}
